/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("assets/movietheatre.jpeg");
  font-family: "Kameron", serif;
  background-repeat: no-repeat;
  background-size: cover;
}
.h1 {
  font-family: "Sansita", sans-serif;
}
p {
  color: whitesmoke;
}
